<div class="well">
    <h2>ADD A DEAL:</h2>
</div>
<form action="/add" method="post">
    <div class="addhhFormDiv">
        <input type="text" name="name" id="name" class="inputWidth" placeholder="Bar/Restaurant Name"/>
    </div>
    <div class="addhhFormDiv">
        <input type="text" name="phonenumber" id="phonenumber" class="inputWidth" placeholder="Phone Number:"/>
    </div>
    <div class="addhhFormDiv">
        <input type="text" name="time" id="time" class="inputWidth" placeholder="Happy Hour times"/>
    </div>
    <div class="addhhFormDiv">
        <input type="text" name="deals" id="deals" class="inputWidth" placeholder="List the deals"/>
    </div>
    <div class="addhhFormDiv">
        <label for="focus">Focus: </label>
        <input type="checkbox" name="focus" id="focus" value="drink" checked> Drink
        <input type="checkbox" name="focus" value="food"> Food
    </div>
    <div class="addhhFormDiv">
        <input type="text" name="address" id="address" class="inputWidth" placeholder="Street Address"/>
    </div>
    <div class="addhhFormDiv">
        <input type="text" name="city" id="city" class="inputWidth" placeholder="City"/>
    </div>
    <div class="addhhFormDiv">
        <input type="number" name="zipcode" id="zipcode" class="inputWidth" placeholder="Est. Zip code"/>
    </div>
    <div class="addhhFormDiv">
        <label for="empAdded">Are you employed here:</label>
        <input type="checkbox" name="empAdded" id="empAdded" value="false" ng-model="empAdded.value">
        {{empAdded.value}}
        <div class="subform" ng-show="empAdded.value">
            <div class="addhhFormDiv">
                <input type="text" name="empPosition" id="empPosition" class="inputWidth" placeholder="Your Position">
            </div>
            <div class="addhhFormDiv">
                <input type="text" name="avoid" id="avoid" class="inputWidth" placeholder="Anything to avoid?">
            </div>
        </div>
    </div>
    <div class="addhhFormDiv">
        <input type="submit" value="Register"/>
    </div>
</form>